body {
	background-color: rgb(4,18,36);
    border-color: rgb(246, 102, 40);
    border-width: 3;
    font-family: sans-serif;
	margin-left: 10rem;
	margin-right: 10rem;
}

@font-face {
	font-family: bahnscrift_semilight;
	src: url(Bahnschrift\ 400.ttf);
	font-weight: 300;
}

@font-face {
	font-family: bahnscrift_bold;
	src: url(Bahnschrift\ 400.ttf);
	font-weight: 700;
}

@font-face {
	font-family: myriad_pro;
	src: url(Myriad\ Pro\ Bold\ Condensed.ttf);
	font-weight: 700;
}

.panel {
	margin-top: 8%;
	display: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(25, 161, 219);
    text-align: center;
}

.header {
    color: rgb(246, 102, 40);
	margin-top: 2rem;
	font-family: myriad_pro
}

.question {
	font-size: 30px;
	margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    text-align: center;
	font-family: bahnscrift_bold;
}

.options {
	font-size: 20px;
	display: flex;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	position: relative;
    size: 10;
	top: 50%;
    transform: scale(1.2);
    color: white;
    text-align: center;
    justify-content: center;
	font-family: bahnscrift_semilight;
}

button {
	margin-top: 5%;
	font-size: 20px;
	padding: 10px 20px;
	background-color: #4f98c2;
	color: white;
	border: none;
	cursor: pointer;
	font-family: bahnscrift_semilight;
}

.role {
	font-size: 30px;
	color: rgb(246, 102, 40);
    font-weight: bold;
    margin-top: 3%;
	margin-bottom: 1%;
	font-family: myriad_pro;
}

.description {
    font-size: 17px;
    color: white;
    white-space: pre-wrap;
	margin-left: 12rem;
	margin-right: 12rem;
	text-align: left;
	font-family: bahnscrift_semilight;
	font-weight: bold;
}
